<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gauge - Campanha de Marketing</title>
    <link rel="stylesheet" href="/assets/fonts/custom-fonts.css">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body ng-app="app" ng-controller="HomeCtrl as vm">

    <section class="app-wrapper">
      <aside class="app-sidebar">
        <nav class="navigation">
          <div class="navigation__item "ng-click="vm.filterByBrand('all')">Todas as marcas</div>
          <div class="navigation__item "ng-click="vm.filterByBrand(1)">Ambev</div>
          <div class="navigation__item "ng-click="vm.filterByBrand(2)">Nike</div>
          <div class="navigation__item "ng-click="vm.filterByBrand(3)">Honda</div>
          <div class="navigation__item "ng-click="vm.filterByBrand(4)">Oi</div>
          <div class="navigation__item "ng-click="vm.filterByBrand(5)">Itaú</div>
        </nav>
      </aside>

      <main class="app-content">
        <header class="app-header">
          <div class="app-header__title">
            DASHBOARD
          </div>

          <div ng-click="vm.viewAsBar()" ng-show="vm.isChartVisible" class="app-header__btn">
            Visualizar gráfico na vertical
          </div>
        </header>

        <section class="app-chart" ng-show="vm.isChartVisible">
          <highchart config="vm.chartOptions">Carregando gráfico...</highchart>
        </section>

        <section class="app-chart is-empty" ng-show="!vm.isChartVisible">
            <p>Olá! Selecione alguma opção no menu ao lado para visualizar o gráfico</p>
        </section>

      </main>
    </section>

    <!-- <footer class="app-footer">
    </footer> -->

    <!-- Vendors Scripts -->
    <script src="/bower_components/highcharts/highcharts.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
    <script src="/bower_components/underscore/underscore-min.js"></script>

    <!-- App Main-->
    <script src="/app/index.js" charset="utf-8"></script>
    <script src="/app/components/index.js" charset="utf-8"></script>
    <script src="/app/modules/index.js" charset="utf-8"></script>

    <!-- App Modules -->
    <script src="/app/modules/brands/index.js" charset="utf-8"></script>
    <script src="/app/modules/brands/brands-service.js" charset="utf-8"></script>
    <script src="/app/modules/brands/brands-model.js" charset="utf-8"></script>
    <script src="/app/modules/chart/index.js" charset="utf-8"></script>
    <script src="/app/modules/chart/chart-service.js" charset="utf-8"></script>
    <script src="/app/modules/chart/chart-model.js" charset="utf-8"></script>
    <script src="/app/modules/home/index.js" charset="utf-8"></script>
    <script src="/app/modules/home/home-ctrl.js" charset="utf-8"></script>
    <script src="/app/modules/interactions/index.js" charset="utf-8"></script>
    <script src="/app/modules/interactions/interactions-service.js" charset="utf-8"></script>
    <script src="/app/modules/interactions/interactions-model.js" charset="utf-8"></script>
    <script src="/app/modules/users/index.js" charset="utf-8"></script>
    <script src="/app/modules/users/users-service.js" charset="utf-8"></script>
    <script src="/app/modules/users/users-model.js" charset="utf-8"></script>
  </body>
</html>
