.app-wrapper {
  display: flex;
  align-items: stretch;
  min-height: 100%;
}

  .app-sidebar {
    width: 190px;
    background-color: #508cc8;
    background-color: #4174a7;
  }

    .navigation {
      display: flex;
      flex-direction: column;
      padding: 24px 0;
      font-family: 'Fira Sans', sans-serif;
      color: #fff;
    }

      .navigation__item {
        padding: 10px 25px;
        cursor: pointer;
      }

      .navigation__item:hover {
        background-color: #4a85bf;
      }

  .app-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

    .app-header {
      height: 70px;
      padding: 20px 28px;
      border-bottom: 1px solid #ddd;
      background-color: #f7f7f7;
      font-family: 'Fira Sans', sans-serif;
      font-size: 20px;
      color: #777;
    }

    .app-chart {
      flex-grow: 1;
      padding: 24px 28px;
    }
    .app-chart.is-empty {
      text-align: center;
    }

    .highcharts-container {
      margin: 0 auto;
    }

/*.app-footer {
  height: 30px;
  background-color: #508cc8;
}*/


html,
body {
  height: 100%;
}

body {
  font-family: 'Merriweather', serif;
  color: #777;
}

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}
